body {font-family:Arial, Helvetica, sans-serif}

#main {width:1024px; margin:10px}

#contents {float:left; width: 200px; background-color: #ddd}

#book {float:right; width: 816px; padding: 3px; border-left: 1px solid black}

#book h1 {font-size: 140%; margin: 10px 0 10px 0}

#book h2 {font-size: 120%; margin: 5px 0 5px 0}

#book p {margin: 3px 0 0 0}

#book pre {margin: 2px 0 2px 20px}


